[Unit]
Description=Ansible Configure
Requires=network-online.target environment.service
After=network-online.target environment.service

[Service]
RemainAfterExit=true

EnvironmentFile=/etc/environment
EnvironmentFile=/etc/environment.network

ExecStartPre=-/usr/bin/git clone ${ANSIBLE} /root/ansible
ExecStartPre=/usr/bin/git -C /root/ansible pull

ExecStart=/usr/bin/ansible-playbook -i /root/ansible/inventory /root/ansible/archlinux/configure.yml -t ${ROLE} -e "ansible_python_interpreter=/usr/bin/python2"
