[Unit]
Description=Generate Environment files
After=systemd-resolved.service
Requires=systemd-resolved.service

[Service]
Type=oneshot
RemainAfterExit=true

ExecStart=/usr/local/bin/environment.py

[Install]
WantedBy=multi-user.target
