[Unit]
Description=Generate Environment files
After=network-online.target
Requires=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true

ExecStart=/usr/local/bin/environment.py

[Install]
WantedBy=multi-user.target
