[Unit]
Description=Consul Alerts
After=consul@server.service
BindsTo=consul@server.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/environment.network

Restart=on-failure

ExecStart=/usr/bin/consul-alerts start \
  --consul-addr=${HOST_IP}:8500 --consul-dc=${REGION} \
  --watch-events --watch-checks --log-level info

[Install]
WantedBy=multi-user.target
