[Unit]
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/flanneld \
  --etcd-prefix="/flannel/network" \
  --etcd-endpoints="http://etcd-1:2379,http://etcd-2:2379,http://etcd-3:2379" \
  --subnet-file="/etc/environment.flannel"

[Install]
WantedBy=multi-user.target
