[Unit]
Description=Consul Template %i

[Service]
PermissionsStartOnly=true
PIDFile=/run/consul-template/%i.pid

#User=consul
#Group=consul

ExecStart=/usr/local/bin/consul-template \
  --pid-file /run/consul-template/%i.pid \
  --config /etc/consul-template/config/%i.toml \
  --consul-addr {{ lookup('env', 'HOST_IP') }}:8500

ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
